<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ocean.dao.mapper.AiHuiShouVoucherMapper">

    <resultMap id="BaseResultMap" type="com.ocean.model.pojo.AiHuiShouVoucher">

        <id column="voucher_id" property="voucherId" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="final_amount" property="finalAmount" jdbcType="DECIMAL"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="order_no" property="orderNo" jdbcType="VARCHAR"/>

        <result column="request_id" property="requestId" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="customer_id" property="customerId" jdbcType="VARCHAR"/>
        <result column="niu_order_no" property="niuOrderNo" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="VARCHAR"/>

        <result column="use_time" property="useTime" jdbcType="VARCHAR"/>
        <result column="modifier" property="modifier" jdbcType="VARCHAR"/>
        <result column="updated_at" property="updatedAt" jdbcType="VARCHAR"/>

    </resultMap>

    <sql id="Base_Column_List">
        voucher_id, mobile, final_amount, user_id, order_no, request_id, status, customer_id, niu_order_no, modifier,
        create_time, use_time, updated_at
    </sql>

    <select id="getVoucherByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from aihuishou_voucher
        where voucher_id = #{voucherId, jdbcType=VARCHAR}
    </select>

    <select id="getVoucherByOrderNo" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from aihuishou_voucher
        where order_no = #{orderNo, jdbcType=VARCHAR}
    </select>

    <select id="countByVoucherId" parameterType="java.lang.String" resultType="java.lang.Integer">
        select
          count(1)
        from aihuishou_voucher
        where voucher_id = #{voucherId, jdbcType=VARCHAR}
    </select>

    <select id="countByOrderNo" parameterType="java.lang.String" resultType="java.lang.Integer">
        select
        count(1)
        from aihuishou_voucher
        where order_no = #{orderNo, jdbcType=VARCHAR}
    </select>

    <select id="searchVouchers" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from aihuishou_voucher
        <where>
            <if test="voucherId!=null and voucherId!='' ">
                and voucher_id=#{voucherId, jdbcType=VARCHAR}
            </if>
            <if test="orderNo!=null and orderNo!='' ">
                and order_no=#{orderNo, jdbcType=VARCHAR}
            </if>
            <if test="finalAmount!=null and finalAmount!='' ">
                and final_amount = #{finalAmount, jdbcType=DECIMAL}
            </if>
            <if test="status!=null and status!='' ">
                and status = #{status, jdbcType=VARCHAR}
            </if>
            <if test="userId!=null and userId!='' ">
                and user_id = #{userId, jdbcType=VARCHAR}
            </if>
            <if test="beginCreateTime!=null and beginCreateTime!='' ">
                and create_time &gt;= #{beginCreateTime, jdbcType=VARCHAR}
            </if>
            <if test="endCreateTime!=null and endCreateTime!='' ">
                and create_time &lt;= #{endCreateTime, jdbcType=VARCHAR}
            </if>
            <if test="beginUseTime!=null and beginUseTime!='' ">
                and use_time &gt;= #{beginUseTime, jdbcType=VARCHAR}
            </if>
            <if test="endUseTime!=null and endUseTime!='' ">
                and use_time &lt;= #{endUseTime, jdbcType=VARCHAR}
            </if>
            <if test="modifier!=null and modifier!='' ">
                and modifier = #{modifier, jdbcType=VARCHAR}
            </if>
            <if test="beginUpdatedAt!=null and beginUpdatedAt!=''">
                and updated_at &gt;= #{beginUpdatedAt, jdbcType=VARCHAR}
            </if>
            <if test="endUpdatedAt!=null and endUpdatedAt!=''">
                and updated_at &lt;= #{endUpdatedAt, jdbcType=VARCHAR}
            </if>
            <if test="customerId!=null and customerId!=''">
                and customer_id = #{customerId, jdbcType=VARCHAR}
            </if>
            <if test="niuOrderNo!=null and niuOrderNo!=''">
                and niu_order_no = #{niuOrderNo, jdbcType=VARCHAR}
            </if>
        </where>
        order by create_time desc
        <if test="pageIndex!=null and pageRow!=null">
            limit #{pageIndex, jdbcType=INTEGER},#{pageRow, jdbcType=INTEGER}
        </if>
    </select>

    <update id="updateBySelectPrimary" parameterType="com.ocean.model.pojo.AiHuiShouVoucher">
        update aihuishou_voucher
        <set>
            <if test="finalAmount != null and finalAmount !='' ">
                final_amount = #{finalAmount,jdbcType=DECIMAL},
            </if>
            <if test="status != null and status != '' ">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="useTime != null and useTime != '' ">
                use_time = #{useTime,jdbcType=VARCHAR},
            </if>
            <if test="userId != null and userId != '' ">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="modifier != null and modifier != '' ">
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="updatedAt != null and updatedAt != '' ">
                updated_at = #{updatedAt,jdbcType=VARCHAR},
            </if>
            <if test="niuOrderNo != null and niuOrderNo != '' ">
                niu_order_no = #{niuOrderNo,jdbcType=VARCHAR},
            </if>
        </set>
        where voucher_id = #{voucherId, jdbcType=VARCHAR}
    </update>

    <update id="updateBySelectOrderNo" parameterType="com.ocean.model.pojo.AiHuiShouVoucher">
        update aihuishou_voucher
        <set>
            <if test="finalAmount != null and finalAmount !='' ">
                final_amount = #{finalAmount,jdbcType=DECIMAL},
            </if>
            <if test="status != null and status != '' ">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="useTime != null and useTime != '' ">
                use_time = #{useTime,jdbcType=VARCHAR},
            </if>
            <if test="userId != null and userId != '' ">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="modifier != null and modifier != '' ">
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
            <if test="updatedAt != null and updatedAt != '' ">
                updated_at = #{updatedAt,jdbcType=VARCHAR},
            </if>
            <if test="niuOrderNo != null and niuOrderNo != '' ">
                niu_order_no = #{niuOrderNo,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null and mobile != '' ">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="requestId != null and requestId != '' ">
                request_id = #{requestId,jdbcType=VARCHAR},
            </if>
        </set>
        where order_no = #{orderNo, jdbcType=VARCHAR}
    </update>

    <insert id="insertAHSVoucher" parameterType="com.ocean.model.pojo.AiHuiShouVoucher">
        insert into aihuishou_voucher
          (
            voucher_id,
            final_amount,
            status,
            create_time,
            use_time,
            user_id,
            order_no,
            modifier,
            updated_at,
            customer_id,
            niu_order_no,
            mobile,
            request_id
          )
        values
          (
            #{voucherId, jdbcType=VARCHAR},
            #{finalAmount, jdbcType=DECIMAL},
            #{status, jdbcType=VARCHAR},
            #{createTime, jdbcType=VARCHAR},
            #{useTime, jdbcType=VARCHAR},
            #{userId, jdbcType=VARCHAR},
            #{orderNo, jdbcType=VARCHAR},
            #{modifier, jdbcType=VARCHAR},
            #{updatedAt, jdbcType=VARCHAR},
            #{customerId, jdbcType=VARCHAR},
            #{niuOrderNo, jdbcType=VARCHAR},
            #{mobile, jdbcType=VARCHAR},
            #{requestId, jdbcType=VARCHAR}
          );
    </insert>

</mapper>